div{
    border: 2px solid black;
}
.gridcon1{
    display: grid;
    grid-template-areas: 
    'Logo Searchbar Searchbar Searchbar Navbar Navbar Navbar';
    gap: 10px;
    margin: 5px;
    padding: 5px;
    height: 110px;
    text-align: center;
    font-size: 30px;
    border: 5px solid black;
}
.Lo{
    grid-area: Logo;
    border: 5px solid blue;
    height: 100px;
}
.Sr{
    grid-area: Searchbar;
    border: 5px solid blue;
    height: 100px;
}
.Nr{
    grid-area: Navbar;
    border: 5px solid blue;
    height: 100px;
}
.gridcon1>div{
    text-align: center;
    font-size: 30px;
    border: 5px solid green;
}
.gridcon2{
    display: grid;
    grid-template-areas:
    'Ad1 Ad1 Ad1 Ad2 Ad2 Ad2';
    gap: 10px;
    margin: 5px;
    padding: 5px;
    border: 5px solid black;
}
.gridcon2>div{
    text-align: center;
    font-size: 30px;
}
.Atem1{
    grid-area: Ad1;
    border: 5px solid blue;
    height: 100px;
}
.Atem2{
    grid-area: Ad2;
    border: 5px solid blue;
    height: 100px;
}
.gridcon3{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin: 5px;
    padding: 5px;
    height:850px;
    width: 70%;
    border: 5px solid black;
}
.gridcon3>div{
    text-align: center;
    font-size: 30px;
    border: 5px solid red;
}
.gridcon4{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    margin: 5px;
    padding: 5px;
    height:850px;
    width: 26.7%;
    float: right;
    margin-top: -869px;
    border: 5px solid black;
}
.gridcon4>div{
    text-align: center;
    font-size: 30px;
    border: 5px solid goldenrod;
}
.gridcon5{
    display: grid;
    grid-template-areas: 
    'info links follow'
    'copyright copyright copyright';
    gap: 10px;
    margin: 5px;
    padding: 5px;
    width: 98.6%;
    height: 190px;
    border: 5px solid black;
}
.gridcon5>div{
    font-size: 30px;
    border: 5px solid blueviolet;
}

.io{
    grid-area: info;
    position: relative;
    height: 100px;
}

.lik{
    grid-area: links;
    position: relative;
    height: 100px;
}

.fw{
    grid-area: follow;
    position: relative;
    height: 100px;
}

.ct{
    grid-area: copyright;
    position: relative;
    height: 50px;
}

.griditem2{
    grid-column: 1;
    grid-row: 1 / span 2;
}
.griditem3{
    grid-column: 2;
    grid-row: 1 / span 2;
}
.griditem4{
    grid-column: 1;
    grid-row: 3 / span 2;
}
.griditem5{
    grid-column: 2;
    grid-row: 3 / span 2;
}
.griditem6{
    grid-column: 1;
    grid-row: 5 / span 2;
}
.griditem7{
    grid-column: 2;
    grid-row: 5 / span 2;
}
.griditem8{
    grid-column: 1;
    grid-row: 7 / span 2;
}
.griditem9{
    grid-column: 2;
    grid-row: 7 / span 2;
}
.griditem10{
    grid-column: 1 / span 2;
    grid-row: 9 /span 7;
}
.griditem11{
    grid-column: 1;
    grid-row: 1 span 2;
}
.griditem12{
    grid-column: 1;
    grid-row: 2 span 2;
}
.griditem13{
    grid-column: 1;
    grid-row: 3 span 2;
}
.griditem14{
    grid-column: 1;
    grid-row: 4;
}
.griditem15{
    grid-column: 1 / span 3;
    grid-row: 1;
}
.align{
    text-align: center;
}




