*{
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.header{
    border: 1px solid aqua;
    padding: 15px;
    text-align: center;

}
.menu{
    width: 25%;
    float: left;
    border: 1px solid salmon;
    padding: 15px;
}

.menu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.menu li{
    padding: 1px;
    margin-bottom: 8px;
    background-color: moccasin;
    color: black;
    box-shadow: 0 1px 3px darkcyan;
}

.menu li:hover{
    background-color: aliceblue;
}

.main{
    float: left;
    padding: 15px;
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.aside{
    padding: 15px;
    font-size: 14px;
    box-shadow: 0 1px 3px;
    text-align: center;
}

.footer {
    text-align: center;
    font-size: 12px;
    padding: 15px;
    box-shadow: 0 1px 5px aqua;
}

[class="col-"] {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.aside{
    padding: 15px;
    font-size: 14px;
    box-shadow: 0 1px 3px;
    text-align: center;
}

@media only screen and (min-width:600px) {
    /*para sa tablets*/
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
}

@media only screen and (min-width:760px) {
    /*para sa laptops*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}