#sheesh{border: 5px double blue; 
  margin-bottom: 100px; 
  background-color: lightcyan; 
  color: blueviolet;
  text-align: center;}

#desc{border: 3px double blue; 
  background-color: lightcyan; 
  color: blueviolet;
  text-align: center;}

.hobby{border: 3px double blue; 
  background-color: lightcyan; 
  color:blueviolet;
  text-align: center;}

a{
    color: burlywood;
    display: block;
    text-align: center;
}
.main{
    background-color: #99c2ff;
    border:5px solid aqua;
    padding: 20px;
}

.second{ 
    background-color: #7091F5;
    border:5px solid aqua;
    padding: 20px;
}
.third{
    background-color: #1a75ff;
    border:5px solid aqua;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6, p{
    color: blueviolet;
    text-align: center;
}

body{
    background-color: black;
}

ul{
    list-style-type: none; /*para mawala yung bullet*/
    background-color: #0040ff;
    margin: 0;
    padding: 0;
}
li a{
    display: block;
    color: burlywood;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}
li a:hover{
    background-color: aquamarine;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }